<% @tag = Tag.new%>

<div class ="container">
  <%= link_to "Nueva Etiqueta", new_admin_tag_path,  class:"btn btn-primary" %>
  <hr>
  <% @tags.order("created_at desc").each do |tag| %>
    <div>
      <div class="panel-heading d-flex">
        <%= link_to tag.name, admin_tag_path(:id => tag.id)  ,class:"d-inline"  %>
        <%= link_to "X", admin_tag_path(:id => tag.id), :method => :delete,  class:"d-inline material-icons ml-auto",data:{confirm:"Estas seguro de borrar esta Etiqueta"} %>
      </div>
      <hr>
    </div>
  <% end %>
  <%= paginate @tags %>

</div>