<% @category = Category.new%>

<div class ="container">
  <%= link_to "Nueva Categoria", new_admin_category_path,  class:"btn btn-primary" %>
  <hr>
  <% @categories.order("created_at desc").each do |category| %>
    <div>
      <div class="panel-heading d-flex">
        <%= link_to category.name, admin_category_path(:id => category.id)  ,class:"d-inline"  %>
        <%= link_to "X", admin_category_path(:id => category.id), :method => :delete,  class:"d-inline material-icons ml-auto",data:{confirm:"Estas seguro de borrar esta Categoria"} %>
      </div>
      <hr>
    </div>
  <% end %>
  <%= paginate @categories %>
</div>