@import "bootstrap";

.footer{
    background-color: #BEBEBE;
    width: 100%;
    height: 50px;
    text-align: center;
    
}

.navbar-product{
    background-color: #909090 !important
}

.catalogo-title{
    color:grey;
}