

<div class ="container">
  <button type="button" class="btn btn-primary" >Nuevo usuario</button>
  <hr>
  <% @users.order("created_at desc").each do |user| %>
    <%= user.email %>
    <hr>
  <% end %>


</div>